{% extends 'base.html' %}

{% block title %} Skystore {% endblock %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skystore</h1>
    <p class="lead">Skystore</p>
</div>
<div class="container py-5">
    <h1 class="mb-4">Товары</h1>

    {% if products %}
        <div class="row text-center">
            {% for product in products %}
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header bg-white">
                            <h4 class="my-0 fw-bold">{{ product.name }}</h4>
                        </div>
                        <div class="card-body">
                            <p class="text-muted small mb-3"><strong>Категория:</strong> {{ product.category.name }}</p>

                            <h3 class="card-title pricing-card-title fw-bold mb-3">
                                {{ product.price }} ₽
                            </h3>

                            <p class="card-text text-start mb-3 small">
                                {{ product.description|truncatechars:100 }}
                            </p>

                            <a href="{% url 'catalog:product_detail' pk=product.id %}"
                               class="btn btn-lg btn-block btn-outline-primary">
                                Подробнее
                            </a>
                            {% if product.image %}
                                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" style="max-width: 300px;">
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center">Товаров пока нет.</p>
    {% endif %}
</div>
{% endblock %}